* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #000;
    color: #e0f7fa;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #00ffff;
}

h2 {
    color: #ff9800;
}

h3 {
    color: #e0e0e0;
}

p {
    color: #b2ebf2;
    margin-bottom: 10px;
}

button {
    background-color: #ff9800;
    color: #000;
    border: none;
    padding: 10px 50px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #fb4f28;
}

.card {
    background: #111;
    border: 1px solid #00ffff;
    border-radius: 12px;
    padding: 20px;
    margin: 30px auto;
    max-width: 800px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

.card img {
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
}


.motivacional {
    font-style: italic;
    color: #ff9800;
    margin: 10px 0;
}

.lista-habitos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
}

.item-habito {
    display: flex;
    flex-direction: column;
}

.detalhe-habito {
    margin-top: 20px;
    padding: 20px;
    background: #111;
    border-radius: 10px;
    border: 1px solid #ff9800;
    box-shadow: 0 0 8px rgba(255, 152, 0, 0.4);
}

.tarefa-acoes {
    display: flex;
    justify-content: center;
    gap: 16px;         /* espaço entre os botões */
    margin-top: 20px;
}

.tarefa-acoes button {
    background-color: #ff9800;  /* laranja */
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.tarefa-acoes button:hover {
    filter: brightness(1.2);
}

.tarefa-acoes button:disabled {
    background-color: #555;   /* cinza quando desabilitado */
    color: #aaa;
    cursor: not-allowed;
}
